.homeDisplay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 960px;
    margin: 10px;
}

.imgContainer {
    width: 75%;
    height: auto;
}

.imgContainer > img {
    width: 100%;
    height: auto;
}

.impact {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn {
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: 3px solid var(--peach);
    color: var(--peach);
    background-color: var(--black);
    transition: border-color 0.25s;
}
.btn:hover {
    text-decoration: underline;
    color: var(--red);
    border-color: var(--red);
}
.btn:focus,
.btn:focus-visible {
    outline: 3px solid var(--peach);
    outline-offset: 3px;
}