.banner {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.logo {
    height: clamp(4rem, 10vh , 10rem);
}

.logo > img {
    height: 100%;
}

nav {
    align-self: center;
    flex-shrink: 0;
    padding-right: 20px;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 20px;
}